{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}
<div id='shopify-eggflow-review' data-id='{{ product.id }}'></div>